<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>词法分析</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="static/css/table_l.css">

</head>
<body>
<section>
  <h1>词法分析表</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>特征</th>
          <th>内容</th>
          <th>属性值</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
          {% for item in lex %}
          <tr>
            <td>{{item.类型}}</td>
            <td>{{item.值}} </td>
            <td>{{item.属性值}} </td>
          </tr>
            {% endfor %}     
     </tbody>
    </table>
  </div>
</section>

<div class="made-with-love">
  <i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i> 
  <br><br>
  <a href="/main">返回</a>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script  src="static/js/table.js"></script>

</body>
</html>
