<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>中间代码</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="static/css/table_p.css">

</head>
<body>
<!-- partial:index.partial.html -->
<section>
  <!--for demo wrap-->
  <h1>中间代码四元式</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>operation</th>
          <th>arg1</th>
          <th>arg2</th>
          <th>result</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
            {% for item in lis %}
            <tr>
                <td>{{item.operation}}</td>
                <td>{{item.arg1}}</td>
                <td>{{item.arg2}}</td>
                <td>{{item.result}}</td>
              </tr>
            {% endfor %}
      </tbody>
    </table>
  </div>
</section>

<div class="made-with-love">
  <i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i> 
  <br>
  <br>
  <a href="/main">返回</a>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script  src="static/js/table.js"></script>

</body>
</html>
